$header-height: 60px;
$section-padding-top: 8px;

.detailContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  background-color: white;
  color: #444444;

  padding: $section-padding-top 16px 16px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  box-shadow: 0 -2px 8px 0 rgba(136, 136, 136, 0.3);

  transition: transform 800ms;

  transform: translateY(
    calc(100% - #{$header-height} - #{$section-padding-top})
  );

  &.selected {
    transform: translateY(calc(100% - 160px));
  }

  &.toggle {
    transform: translateY(0);
  }

  .detailHeader {
    height: #{$header-height};
    display: flex;
    flex-direction: column;

    .arrowButton {
      height: 20px;
      align-items: center;

      border: none;
      background-color: transparent;

      &.disabled {
        opacity: 0.2;
        cursor: not-allowed;
      }

      &.toggle {
        transform: rotate(180deg);
      }

      @keyframes bounce {
        from {
          transform: translateY(0);
        }

        to {
          transform: translateY(-5px);
        }
      }

      svg {
        animation: bounce 500ms infinite alternate ease-in;
      }
    }

    .detailTitle {
      margin: 4px 0;
      font-size: 1rem;
      font-weight: 500;
    }

    .detailTitleBox {
      display: flex;
      justify-content: space-between;

      .detailShareButton {
        padding: 6px;
        background-color: #ffffff;
        border-radius: 4px;
        border: none;
        &:active {
          background-color: #40a6fd;
          color: white;
        }
      }
    }
  }
}

.detailContentsContainer {
  .storeImageBox {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 120px));
    gap: 12px;
    margin-bottom: 16px;

    .imageBox {
      position: relative;
      width: 120px;
      height: 80px;

      .image {
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }

  h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  p {
    font-size: 15px;
    font-weight: 500;
  }

  .description {
    margin: 15px 0px;
  }

  .info {
    .addressBox,
    .phoneBox {
      display: flex;
      align-items: center;
      margin: 4px 0px;

      svg {
        margin-right: 4px;
      }
    }

    .detailInfoBox {
      margin: 4px 0px;
    }
  }

  .menu {
    li {
      display: flex;
      justify-content: space-between;
      margin: 4px 0px;

      .menuName {
      }

      .menuPrice {
      }
    }
  }

  .hr {
    height: 1px;
    margin: 15px 0px;
    border: 0;
    background-color: lightgrey;
  }
}
