$card-width: 200px;
$snail-side-length: 11;
$feedback-board-width: $card-width * $snail-side-length;

.feedbackBoardContainer {
  display: flex;
  flex-wrap: wrap;

  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 400px;
  height: 400px;
  //   width: calc($feedback-board-width);
  //   height: calc($feedback-board-width);
  //   &.showClones {
  //     width: calc(3 * $feedback-board-width);
  //     height: calc(3 * $feedback-board-width);
  //   }
}

.feedbackBoard {
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 400px;
}

.item {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  padding: 12px;

  .card {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 16px 16px 32px;

    background: linear-gradient(to left top, transparent 50%, #fdc75f 0)
      no-repeat 100% 100% / 22px 22px;
    //   linear-gradient(to left top transparent 15.7px #ffe2ab 0);
    .text {
      width: 100%;
      height: 100%;
      white-space: pre-wrap;
      word-break: break-all;
      overflow: hidden;

      font-size: 0.875rem;
      color: #222222;
    }
  }
}

.inputItem {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .text {
    background: none;

    &::placeholder {
      color: #b5b5b5;
    }
  }

  textarea {
    overflow: auto;
    outline: none;
    border: none;
    padding: 0;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
    font-family: inherit;
    font-size: inherit;
  }

  .textLength {
    position: absolute;
    bottom: 6px;
    right: 30px;

    font-size: 0.625rem;
    color: #666666;
  }
}

.submitButton {
  position: fixed;
  bottom: 45px;
  left: 12px;
  width: calc(100% - 24px);
  padding: 16px;
  z-index: 1;
  font-size: 1rem;
  border: none;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  color: white;
  background-color: #64c0a9;
}
